---
import WDCancellationItem from "./WDCancellationItem.astro";
// import "../../styles/misc.css";

const { label } = Astro.props;
---

<div class="text-group">
	<h4>{label}</h4>
	<WDCancellationItem>
		<slot />
	</WDCancellationItem>
</div>
