---
import WDCancellationItem from "./WDCancellationItem.astro";
---

<div class="text-group" id="approve">
	<h4 class="desc">
		Has 2 or more related users but <good>can be APPROVED</good>
	</h4>
	<div class="text-wrapper">
		<h5>Related Users Info:</h5>
		<div class="users-wrapper">
			<input type="number" id="userNum" placeholder="Related Users count" />
			<input type="number" id="duplicate" placeholder="Duplicates count" />
			<input type="number" id="unverified" placeholder="Unverified count" />
			<button id="resetUsers">RESET</button>
		</div>

		<WDCancellationItem
			label="Has related users in GeoComply but only unverified and/or duplicate accounts"
		>
			<p id="approve1"></p>
		</WDCancellationItem>

		<WDCancellationItem
			label="Has related users in GeoComply but no device links in Tableau"
		>
			<p id="approve3"></p>
		</WDCancellationItem>

		<WDCancellationItem
			label="Has related users in GeoComply but already reviewed by SA"
		>
			<p id="approve2"></p>
		</WDCancellationItem>
	</div>
</div>

<script>
	import "../../scripts/miscRelatedUsers";
</script>
