---
import WDCancellationItem from "./WDCancellationItem.astro";
---

<div class="wrapper">
	<h4>Salesforce Case Slack reply</h4>
	<div class="case-group">
		<h5>Case number:</h5>
		<div class="caseNumber-wrapper">
			<input type="number" id="caseNumber" placeholder="Case Number" />
			<button id="caseNumReset">RESET</button>
		</div>
	</div>

	<!-- Name Mismatch -->
	<WDCancellationItem label="Name mismatch">
		<p>Sending warning email for name mismatch.</p>
	</WDCancellationItem>
	<WDCancellationItem>
		<p>
			Sent name mismatch warning email - SF Case Number <span
				class="case-number"></span>
		</p>
	</WDCancellationItem>

		<!-- Account closure -->
	<WDCancellationItem label="Account closure">
		<p>Sending account closure email.</p>
	</WDCancellationItem>
	<WDCancellationItem>
		<p>
			Sent account closure email - SF Case Number <span class="case-number"
			></span>
		</p>
	</WDCancellationItem>

			<!-- Account closure -->
	<WDCancellationItem label="Deposit refunded (not winnings)">
		<p>Sending warning for fraud deposit refunded.</p>
	</WDCancellationItem>
	<WDCancellationItem>
		<p>
			Sent fraud deposit refunded warning - SF Case Number <span class="case-number"
			></span>
		</p>
	</WDCancellationItem>

	<!-- Device sharing -->
	<WDCancellationItem label="Device sharing">
		<p>Sending warning email for device sharing.</p>
	</WDCancellationItem>
	<WDCancellationItem>
		<p>
			Sent device sharing warning - SF Case Number <span class="case-number"
			></span>
		</p>
	</WDCancellationItem>



	<!-- Payment method sharing -->
	<WDCancellationItem label="Payment method sharing">
		<p>Sending warning email for Payment Method and Device Sharing</p>
	</WDCancellationItem>
	<WDCancellationItem>
		<p>
			Sent payment method and device sharing warning - SF Case Number <span
				class="case-number"></span>
		</p>
	</WDCancellationItem>

		<!-- Multi accounting -->
	<WDCancellationItem label="Multi accounting">
		<p>Sending warning email for multi accounting.</p>
	</WDCancellationItem>
	<WDCancellationItem>
		<p>
			Sent multi accounting warning - SF Case Number <span class="case-number"
			></span>
		</p>
	</WDCancellationItem>
</div>

<style>
	h4 {
		margin-bottom: 0.5rem;
	}

	h5 {
		margin-bottom: 0.3rem;
	}

	.caseNumber-wrapper {
		display: flex;
		gap: 0.5rem;
	}
</style>

<script>
	const caseNumber: HTMLInputElement = document.querySelector("#caseNumber")!;
	const caseResetBtn = document.querySelector("#caseNumReset")!;
	const caseSpans = document.querySelectorAll(".case-number");
	const defaultValue = "xxxxxx";

	caseResetBtn.addEventListener("click", () => {
		caseNumber.value = "";
	});

	caseResetBtn.addEventListener("click", caseNumberHandler);

	function caseNumberHandler(event: any) {
		const caseNum = event.currentTarget.value.trim();

		caseSpans.forEach((span) => {
			if (caseNum) {
				span.textContent = caseNum;
			} else {
				span.textContent = defaultValue;
			}
		});
	}

	["keyup", "keydown", "blur"].forEach((eventType) => {
		caseNumber.addEventListener(eventType, caseNumberHandler);
	});

	const init = new Event("blur");
	caseNumber.dispatchEvent(init);
</script>
