<div class="special-buttons">
	<h5>Status:</h5>
	<button class="open active" data-value="open">O</button>
	<button class="suspended" data-value="suspended">S</button>
	<button class="closed" data-value="closed">C</button>
	<button class="timeout" data-value="timeout">T</button>
</div>

<script>
	import activateSpecialButtons from "../../scripts/specialButtons";
	activateSpecialButtons();
</script>
